-provide(:title, "#{@user.name}'s Phrases")
%h3
  #{@user.name}'s Phrases

.row
  .span8
    =form_for(@user.phrases.build, html: {class: 'form-inline'}, remote: true) do |f|
      =render 'shared/error_messages', object: f.object

      =f.text_field :content, placeholder: 'New phrase...'
      =f.submit "Add", class: "btn btn-small btn-primary"

    -if @user.phrases.any?
      %ol#phrases.unstyled
        =render @phrases

      =will_paginate @phrases


